.sign-in-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
   margin:0 auto 0 auto;
   align-items: center;
    background-color: #341467;
    margin-top: 70px;
    border-radius: 4px;
}
.sign-in-container>h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
}
.buttons-container{
    display: flex;
    justify-content: center;
    background-color: brown;
    font-size: large;
    align-items: center;
    border-radius: 4px;
    margin-left: 5px;
   width: 50%;
    height: 40px;
    color: aliceblue;
}