
  .b1{
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    padding: 3px;
  }
  
  .b1:active,
  .b1:hover {
    outline: 0;
  }
  
  .b1 span {
    background-color:#341467;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .b1:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .b1 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  .img{
   width: 250px !important;
  }
 h1{
   color: black;
  }
  .card-container {
    display: flex;
    margin: 20px;
    color: white;
    flex-direction: column;
  
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 50px 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    justify-content: center;
    align-items: center;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  
  .card-container img{
    width: 100px;
    height: auto;
    
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }